@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 0 0% 10%;
    --background: 0 0% 94%;
    --primary: 119 49% 63%;
    --secondary: 99 71% 78%;
    --accent: 133 64% 77%;
    --warning: 46 96% 71%;
    --danger: 0 96% 65%;
    --modal: 0 0% 94%;
    --muted: 0 0% 60%;
  }
}

body {
  background-color: hsl(var(--background));
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 30px;
}
