@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap");

@layer base {
  :root {
    --text: 0 0% 13%;
    --background: 0 0% 94%;
    --primary: 119 49% 63%;
    --secondary: 99 71% 78%;
    --accent: 133 64% 77%;
    --modal: 36, 100%, 97%;
  }
}

body {
  background-color: hsl(var(--background));
}
h1 {
  font-size: 30px;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
